*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}
img{
  max-width: 100%;
}
/* debug border */
.debug{
  border: 2px dashed black;
}
/* css containers */
.container{
  max-width: 1000px;
  margin: 0 auto;
}
.flex{
  display: flex;
}
.padd-vert{
  padding: 70px 0;
}

/* css header */
.padd-header{
  padding: 20px 0;
}
header{
  background-color:#265EE9;
}

.nav-col-logo, .nav-col-but{
  flex-basis: 20%;
}
.nav-col-but .nav-button {
  padding: 7px;
  display: inline-block;
  border-radius: 20px;
  background-color: white;
  border: none;
  font-size: 16px;
  
}
.nav-col-menu{
  flex-grow: 1;
  list-style-type: none;
  gap: 20px;
  justify-content: center;
  align-items: center;
}

.nav-col-menu li a{
  text-decoration: none;
  color: white;
}
/* section n1 */
main section h2, .sect-desc h2{
font-size:42px ;
padding-bottom: 30px;
}
main .hero p, .sect-desc p{
  padding-bottom: 20px;
  line-height: 25px;
  font-size: 18px;
}
.hero .flex{
  justify-content: center;
  gap: 30px;
}
.sect-1{
  background-image: url(../img/jumbo.png);
  background-size: cover;
  background-position: center;
  min-height: 500px;
}
.sect-1.flex{
  align-items: center;
}
.download, .open-browser, .download-bottom{
padding: 5px 10px;
border-radius: 20px;
border: none;
font-size: 18px;
}
.download::before, .download-bottom::before{
  content: "\1F817";
  font-size: 25px;
  vertical-align: middle;
}
.download{
  background-color: white;
}
.open-browser{
  color: white;
  background-color: rgb(39, 36, 36);
}
.hero{
  margin: 0 auto;
  max-width: 800px;
  text-align: center;
  color: white;
  padding-top: 50px;
}

/* section n2 */
.sect-2{
  background-color: white;
}

.sect-img{
  flex-basis: 60%;
}
.sect-desc{
  flex-basis: 40%;
  padding-top: 30px;
}
.row-rev{
  flex-direction: row-reverse;
}
/* section n3-5 */
.sect-3{
  background-color: rgba(0, 0, 0, 0.05);

}
/* section 5 */
.sect-3  .colonna{
text-align: center;
}
.colonna .row{
  padding: 0 100px;
}
.sparkles{
  background-image: url(../img/stars.svg);
  background-size: contain;
  background-repeat: no-repeat;
  width: fit-content;
  margin: 0 auto ;
  padding: 30px 0;
}
.colonna > div > h3{
font-size:30px ;
}
.download-bottom{
  background-color:#4375F1 ;
  color: white;
}

/* footer pt1 */
footer{
  background-color:#23272A;
}
.lang-logo{
  height: 15px;
  vertical-align: middle;
}
footer h4, footer h2{
  color: #4375F1;
} 

footer h2{
  font-size: 30px;
  padding-right: 40px;
  padding-bottom: 15px;
}
footer ul li a{
  color: white;
  text-decoration: none;
}
footer .lang{
  font-size: 12px;
  color: white;
}
.flex.social{
  gap: 10px;
}

footer ul li{
  list-style-type:none;
  padding: 8px 0;
}
footer .foot-flex{
  padding-top: 20px;
  border-top: 1px solid #4375F1;
  max-width: 1000px;
  margin: 0 auto;
}
.foot-col{
  flex-basis:calc(100% / 6);
  
}
.foot-col-lrg{
  flex-basis:calc(100% / 6 * 2);
  
}
/* footer pt2 */

.foot-button{
  padding: 7px;
  display: inline-block;
  border-radius: 20px;
  background-color:#4375F1;
  border: none;
  font-size: 16px; 
  color: white;
  
}
.foot-flex{
  justify-content: space-between;
  align-items: top;
  padding-bottom: 40px;
}

/* onde */
.wave-grey{
  background-image: url(../img/wave.svg);
  height: 100px;
  opacity: 0.05;
}
.wave-grey-ud{
  background-image: url(../img/wave.svg);
  height: 100px;
  opacity: 0.05;
  transform: scaleY(-1);
}